
<header class="header-container">
    <div class="text-center header-background ripple" data-mdb-ripple-color="light">
        <div class="text-center ">
            <div class="header-inner-container" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                    <h1 class="mb-3 text-white display-4 display-sm-4 display-xl-2">Web Technologies</h1>
                    <h4 class="mb-3 text-white">Modern Development</h4>
                    <a class="btn btn-outline-light btn-lg" role="button">Call to action</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
