<div class="container-fluid container-home">
    <h2>Programin Language</h2>
    <h2>Programin Language</h2>
    <h2>Programin Language</h2>
    <h2>Programin Language</h2>
    <h2>Programin Language</h2>
    <img src="https://images.ctfassets.net/hrltx12pl8hq/a2hkMAaruSQ8haQZ4rBL9/8ff4a6f289b9ca3f4e6474f29793a74a/nature-image-for-website.jpg" id="logo" class="mr-3" alt="logo">
    <h2>Programin Language</h2>
    <h2>Programin Language</h2>
    <h2>Programin Language</h2>
    <h2>Programin Language</h2>
</div>