

//Toast
.toast-container {
    width: 350px;
    height: 100px;
    color: #fff;
    margin: 10px;
    padding: 20px 25px;
    position: fixed;
    z-index: 10010;
    pointer-events: auto;
    box-shadow:  0 0 12px #999;
    border-radius: 3px;
    display: flex;

    .toast-content {
        align-items: center;
        .icon {
            width: 40px;
            height: 40px;
            font-size: 26px;
            display: inline-block;
            border-radius: 50%;
            background-color: #fff;
            color: #51a351;
            padding-left: 6px;
            //font-weight: bold;
            margin-right: 10px;

        }
    }

    .closeBtn {
        cursor:pointer;
        pointer-events: auto;
        position: absolute;
        right: 12px;
        top: 2px;
        font-size: 20px;
        transition: all 0.3s ease-out;

        &:hover {
            color: #DDD;
        }
    }

    &.success {
        background-color: #51a351;
        .toast-content {
            .icon {
                padding-left: 10px;
                padding-bottom: 10px;
                color: #51a351;
            }
        }
    }

    &.error {
        background-color: #bd362f;
        .toast-content {
            .icon {
                padding-left: 9px;
                color: #bd362f;
            }
        }
    }

    &.warn {
        background-color: #f89406;
        .toast-content {
            .icon {
                padding-left: 9px;
                color: #f89406;
            }
        }
    }

    &.info {
        background-color: #2f96b4;
        .toast-content {
            .icon {
                padding-left: 9px;
                color: #2f96b4;
            }
        }
    }

    &.top-left {
        left: 0px;
        top: 75px;
    }

    &.top-right {
        right: 0px;
        top: 75px;
    }

    &.bottom-left {
        left: 0px;
        top: 0px;
    }

    &.bottom-right {
        right: 0px;
        top: 0px;
    }
}

