<!-- Navigation Component -->
<app-navigation></app-navigation>

<!-- Toastr Component -->
<app-toastr></app-toastr>

<!-- Login/Register form Component -->
<app-login-register></app-login-register>

<!-- New Messages Component -->
<app-new-messages></app-new-messages>

<!-- Send message form Component -->
<app-send-message></app-send-message>

<!-- My Profile Component -->
<app-my-profile></app-my-profile>

<!-- User Settings Component -->
<app-user-settings></app-user-settings>

<!-- Header Component -->
<app-header></app-header>

<!-- container for dynamic components -->
<main class="main-container container-fluid">
  <router-outlet></router-outlet>
</main>

<!-- Footer Component -->
<app-footer></app-footer>

<!-- Cookie Component -->
<app-cookie></app-cookie>


