<app-navigation></app-navigation>

<div class="toast-container" *ngIf="showToastr" [ngClass]="{
    success: toastrType == 'success',
    error: toastrType == 'error',
    warn: toastrType == 'warn',
    info: toastrType == 'info',
    'top-left': toastrPosition == 'top-left',
    'top-right': toastrPosition == 'top-right',
    'bottom-left': toastrPosition == 'bottom-left',
    'bottom-right': toastrPosition == 'bottom-right'
  }">
  <span class="closeBtn" (click)="closeToastr()">X</span>
  <div class="toast-content">
    <span class="icon" *ngIf="toastrType == 'success'" >✔</span>
    <span class="icon" *ngIf="toastrType == 'error'">X</span>
    <span class="icon" *ngIf="toastrType == 'warn'">!</span>
    <span class="icon" *ngIf="toastrType == 'info'">i</span>
    <span>{{ toastrMsg }}</span>
  </div>
</div>

<app-login-register></app-login-register>

<app-new-message></app-new-message>

<app-send-message></app-send-message>


<app-my-profile></app-my-profile>

<app-user-settings></app-user-settings>

<app-header></app-header>



<main class="main-container container-fluid">
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>

<app-cookie></app-cookie>


