<!-- modal Send Message-->
<div class="modal fade new-message" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content py-3">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel5">New messages</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-dialog-scrollable">

          <div class="card w-100">
            <div *ngFor="let m of messages; let i = index" class=" card-body flex-column d-flex justify-content-center">

              <div class="d-flex justify-content-between flex-wrap" id="message{{i}}">
                <span class="h6">{{m.date}}</span>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault{{i}}" (click)="unreadMessage('flexCheckDefault' + [i])" checked/>
                  <label class="form-check-label" for="flexCheckDefault{{i}}">unread</label>
                </div>
                <a
                  class="btn-message font-weight-bold"
                  data-mdb-toggle="collapse"
                  data-mdb-placement="top"
                  href="#collapseExample{{i}}"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                  title="Click to Read"
                >
                  <i class="far fa-envelope"></i>
                  New message
                </a>
              
                <i
                  class="fa-solid fa-trash-can btn-message-remove" 
                  data-mdb-toggle="tooltip" 
                  data-mdb-placement="top" 
                  title="Are you sure you want to delete it?"
                  (click)="removeMessage('message' + [i])"
                ></i>
                
                <div class="collapse mt-3" id="collapseExample{{i}}">
                  {{m.description}}
                  <div>
                    <div class="font-weight-bold float-right">From: <span class="highlighting">{{m.author}}</span></div>
                  </div>
                  
                </div>
                
              </div>
             
              
            </div>
          </div>

        </div>      
      </div>
    </div>
</div>