
@use '../Settings/_settings.color';

.navigation {
    background-color: $background-secondary;

    .fa-bars {
        color: $color-primary !important;
    }

    .nav-logo {
        width: 50px;
        height: 50px;
        margin-right: 15px;
    }

    .navbar-brand {
        font-size: 22px;
        font-weight: bold;
        color: $color-thirdly;

        @include for-phone-only {
            font-size: 18px;
            white-space: initial;
        }
    }

    .nav-item {
        position: relative;
        margin: 0px 10px;
        transition: all 0.4s ease-out;

        @include for-tablet-down {
            width: 110px;
            padding-left: 5px;
        }
    }

    a, 
    .nav-link,
    .dropdown-item {
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        color: $color-fivethly;
        transition: all 0.3s ease-out;

        @include for-phone-only {
            width: 100%;
            font-size: 16px;
        }

        &:hover {
            color: $color-thirdly;
            
        }

        &:hover ~ .under-line {
            width: 50px;
        }
    }

    #navbarDropdown {
        color: $color-fivethly;
        transition: all 0.3s ease-out;

        &:hover {
            color: $color-thirdly;
        }

        &:hover ~ .under-line-dropdown {
            width: 105px;
        }
    }

    .under-line,
    .under-line-dropdown {
        display: block;
        position: absolute;
        top: 38px;
        left: 6px;
        width: 0px;
        height: 2px;
        background-color: $color-thirdly;
        transition: all 0.4s ease-out;
    }

    .dropdown-item {
        transition: all 0.3s ease-out;

        &:hover {
            background-color: $background-primary !important;
        }
    }

    //*
    //search form
    //*
    .input-search {
        border: none;
        color: $color-fivethly;
        border-radius: 0px;
        border: 1px solid $color-fivethly;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        -webkit-box-shadow: 0px 2px 6px -5px $color-primary;
        -moz-box-shadow: 0px 2px 6px -5px $color-primary;
        box-shadow: 0px 2px 6px -5px $color-primary;
        background-color: $background-primary;
        transition: all 0.4s ease-out;

        @include for-phone-only {
            width: 100%;
        }

        &:focus {
            outline: none !important;
            color: $color-fivethly;
            border: 1px solid $color-thirdly;
            box-shadow: 0 0px 0px $color-thirdly inset, 0 0 0px $color-thirdly !important;
        }
    }

    .btn-search {
        color: $color-thirdly;
        border: 1px solid $color-thirdly;
        -webkit-box-shadow: 2px 2px 9px -10px $color-primary;
        -moz-box-shadow: 2px 2px 9px -10px $color-primary;
        box-shadow: 2px 2px 9px -10px $color-primary;
        z-index: 10;
        transition: all 0.4s ease-out;

        @include for-phone-only {
            width: 100px;
            border-bottom-left-radius: 3px !important;
            border-top-left-radius: 3px !important;
            margin: 2% 0;
        }

        @include for-tablet-portrait-up {
            border-bottom-left-radius: 0px !important;
            border-top-left-radius: 0px !important;
            margin: 0;
        }

        &:hover {
            color: $background-primary;
            background-color: $color-thirdly;
        }
    }
}