@use '../Settings/_settings.color';
@use '../Tools/_tools.mixins';

.container-details-technologies {
    @include form-shadow;
    padding: 2%;
    border-radius: 5px;

    .fa-trash-can {
        cursor: pointer;
        font-size: 24px !important;
        float: right;
        transition: all 0.3s ease-out;

        &:hover {
            color: $color-secondary;
        }
    }

    .btn-update {
        cursor: pointer;
        text-decoration: none !important;
        @include btn-global($color-btn-update, $color-fourthly, $color-btn-update);
        font-size: 14px;
        padding: 7px 25px;
        color: $color-btn-update !important;
        transition: all 0.3s ease-out;

        &:hover {
            color: $color-btn-update-hover !important;
            border-color: $color-btn-update-hover;
            @include btn-shadow-hover;
        }

        & > .fa-pen {
            color: $color-btn-update;
        }

        &:hover > .fa-pen {
            color: $color-btn-update-hover;
        }
    }

    .fa-solid {
        font-size: 14px;
        transition: all 0.3s ease-out;
    }
}