@use '../Settings/settings.color';
@use '../Tools/_tools.mixins';

.container-create-technology {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5% 0%;
    background-color: $background-primary;

    .container-form {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        margin: 3% 0;
        padding: 2%;
        @include form-shadow;

        .form-group {
            position: relative;
        }

        .label {
            position: absolute;
            top: 24px;
            left: 25px;
            transition: all 0.3s ease-out;
        }

        input[type="text"], textarea {
            outline: none !important;
            background-color: $background-primary;
            color: $color-primary;
            border: 1px solid $background-secondary;
            border-radius: 3px;
            margin: 15px 0;
            @include input-shadow;
            padding: 0.67em 0.75em;
            transition: all 0.3s ease-out;

            &:focus {
                outline: none !important;
                color: $color-thirdly;
                border: 1px solid $color-thirdly;
                background-color: transparent;
                box-shadow: 0 0px 0px $color-thirdly inset, 0 0 0px $color-thirdly !important;
            }

            &:focus ~ .label {
                color: $color-thirdly;
                transform: translateY(-33px);
            }
        }

        .fa-check {
            color: rgb(0, 133, 63);
            font-size: 18px;
            position: absolute;
            right: 25px;
            top: 26px;
        }

        .btn-create {
            cursor: pointer !important;
            border: 1px solid $color-thirdly;
            font-weight: normal;
            padding: 10px 40px;
            border-radius: 3px;
            color: $color-thirdly;
            @include btn-shadow;
            transition: all 0.3s ease-out;

            &:hover {
                color: $color-fourthly;
                background-color: $color-thirdly;
                @include btn-shadow-hover;
            }
        }
    }
}