@use '../Settings/_settings.breakpoints';
@use '../Tools/_tools.mixins';

.container-all-technologies {
    width: 100%;
    @include form-shadow;
    border-radius: 5px;
    padding: 3% 2%;

    .technology-img {
        padding: 10px;
        border-radius: 5px;
        @include form-shadow;
        height: auto;
        opacity: 0;
        animation: fadeIn 1s forwards;

        @include for-tablet-up {
            width: 300px;
            height: 200px;
            margin-right: 20px;
        }

        @include for-tablet-down {
            margin-right: 20px;
        }

        @include for-tablet-portrait-up {
            width: 70%;
            margin: 10px auto;
        }

        @include for-phone-only {
            width: 100%;
            margin: 10px auto;
        }
    }

    .text-technology-name {
        color: $color-secondary;
    }
}