.header-container {
    position: relative;
    display: block;
    width: 100%;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.8) !important;

    .header-background {
        background: url("https://wallpapercave.com/wp/wp5722081.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        height: 100%;
    }

    .header-inner-container {
        width: 100%;
        height: 450px !important;
    }
}
