<nav class="navbar navbar-expand-lg navigation">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <img class="nav-logo" src="../../../assets/images/angular-logo.png" />
        <a class="navbar-brand">Web Technologies</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link active" routerLink="/home">Home</a>
            <span class="under-line"></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
            <span class="under-line"></span>
          </li>


          <!-- Navbar dropdown -->
        <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
        
            >
              Dropdown
            </a>
            <span class="under-line-dropdown"></span>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="nav-item-dropdown">
                <a class="dropdown-item" routerLink="/technology/createTechnology">Create Technology</a>
              </li>
              <li class="nav-item-dropdown">
                <a class="dropdown-item" routerLink="/technology/viewTechnologies">View Technologies</a>
              </li>
              <li class="nav-item-dropdown">
                <a class="dropdown-item" routerLink="/aaa">Gallery</a>
              </li>
              <li class="nav-item-dropdown">
                <a class="dropdown-item" routerLink="/else">Animation</a>
              </li>
            </ul>
          </li>
        </ul>

        
        <form class="d-flex flex-column flex-sm-row input-group w-auto">
          <input
            type="search"
            class="form-control input-search"
            placeholder="Search"
            aria-label="Search"
          />
          <button
            class="btn btn-search"
            type="button"
            data-mdb-ripple-color="dark"
          >
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>