$background-primary: rgba(208,216,220, 0.75);
$background-secondary: rgba(242,242,242, 1);
$background-thirdly: rgba(160,165,178,0.25);
$background-fourthly: rgba(173,34,22, 0.12);
$color-primary: rgba(164,164,164,1);
$color-secondary: rgb(200,29,10);
$color-thirdly: rgb(173,34,22);
$color-fourthly: rgb(255,255,255);
$color-fivethly: rgb(38,38,37);
$color-sixthly: rgba(173,34,22, 0.8);


$color-btn-back: $color-primary;
$color-btn-update: rgb(212,158,39);
$color-btn-update-hover: rgb(192,138,19);
$color-btn-info: rgb(92,168,199);
