$background-primary: rgba(208,216,220, 1);
$background-secondary: rgba(160,165,178, 0.15);
$background-thirdly: rgba(160,165,178,0.25);
$background-fourthly: rgba(173,34,22, 0.12);
$color-primary: rgb(78,82,87);
$color-secondary: rgb(200,29,10);
$color-thirdly: rgb(173,34,22);
$color-fourthly: rgb(255,255,255);