@use '../Settings/_settings.color';
@use '../Tools/_tools.mixins';

.link {
    cursor: pointer;
    text-decoration: none !important;
    color: $color-sixthly !important;
    transition: all 0.3s ease-out;

    &:hover {
        color: $color-secondary !important;
    }
}

.link-form {
    cursor: pointer;
    color: $color-thirdly !important;

    &:hover {
        color: $color-sixthly !important;
    }
}


