

//register form - sign in auto btn icon!
.btn-login-auto {
    color: $color-thirdly;

    &:hover {
        color: $color-thirdly !important;
    }

    .fa-arrow-right-to-bracket {
        opacity: 0;
        transition: all 0.3s ease-out;

        &:hover {
            opacity: 1;
        }
    }

    &:hover > .fa-arrow-right-to-bracket {
        opacity: 1;
    }
}


.fa-envelope {
    opacity: 0;
    transition: all 0.3s ease-out;
}
