//@use '../Settings/_settings.color';

@mixin form-shadow {
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.55);
}

@mixin input-shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow:    0px 0px 5px 0px rgba(0,0,0,0.26);
    box-shadow:         0px 0px 5px 0px rgba(0,0,0,0.26);
}

@mixin btn-shadow {
    box-shadow: 0px 5px 13px -7px #000000, 1px 0px 30px -14px rgb(0 0 0 / 0%);
    -webkit-box-shadow:  0px 5px 13px -7px #000000, 1px 0px 30px -14px rgb(0 0 0 / 0%);
    -moz-box-shadow:  0px 5px 13px -7px #000000, 1px 0px 30px -14px rgb(0 0 0 / 0%);
}

@mixin btn-shadow-hover {
    -webkit-box-shadow: 0px 8px 17px -8px #000000, 1px 0px 30px -14px rgb(0 0 0 / 0%);
    -moz-box-shadow: 0px 8px 17px -8px #000000, 1px 0px 30px -14px rgb(0 0 0 / 0%);
    box-shadow: 0px 8px 17px -8px #000000, 1px 0px 30px -14px rgb(0 0 0 / 0%);
}

@mixin btn-global($text-color, $background-color, $border-color) {
    display: inline-block;
    opacity: 1;
    cursor: pointer;
    border: 1px solid $border-color;
    font-weight: normal;
    padding: 10px 40px;
    border-radius: 3px;
    color: $text-color;
    background-color: $background-color;
    @include btn-shadow;
    transition: all 0.3s ease-out;

    @media all and (max-width:180px) {
        padding: 10px 20px;
    }
}

@mixin global-img {
    opacity: 0;
    cursor: pointer;
    height: 220px;
    padding: 0px;
    border-radius: 5px;
    @include form-shadow;
    animation: fadeIn 1s forwards;
}


//Animations
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}