
<footer class="text-center text-lg-start bg-dark text-white footer-container">
    <section class="d-flex justify-content-center justify-content-lg-between  p-4 border-bottom">

      <div class="m-auto d-flex flex-column flex-sm-row align-items-center justify-content-center">
        <a href="" class="me-0 me-sm-5 mb-2 mb-sm-0">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-0 me-sm-5 mb-2 mb-sm-0">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-0 me-sm-5 mb-2 mb-sm-0">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-0 me-sm-5 mb-2 mb-sm-0">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-0 me-sm-5 mb-2 mb-sm-0">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-0 me-sm-5 mb-2 mb-sm-0">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </section>

    <section class="container-fluid">
      <div class="container text-center text-md-start my-5">
        <div class="row mt-3">
          <div class="col-12 col-sm-7 col-md-5 col-lg-3 col-xl-3 col-xxl-3 mx-auto mb-4 order-md-0 border-bottom footer-company-name">
              <h6 class="text-uppercase mb-4">
                <i class="fas fa-gem me-3"></i>Company name
              </h6>
              <p class="h6-md">Angular Studio - Raiders Team</p>
              <p>Students Group - TU Gabrovo</p>
              <p>Teachers Group - TU Gabrovo</p>
              <p>Owner - <span class="footer-owner">Pavel Runchev</span></p>
          </div>
  
          <div class="col-12 col-sm-7 col-md-5 col-lg-2 col-xl-2 mx-auto mb-4 order-md-2 order-lg-1 border-bottom">
            <h6 class="text-uppercase mb-4">
              Products
            </h6>
            <p class="products-item">
              <a href="#!" class="text-reset product-link product-angular">Angular</a>
              <i class="fa-brands fa-angular"></i>
            </p>
            <p class="products-item">
              <a href="#!" class="text-reset product-link product-react">React</a>
              <i class="fa-brands fa-react"></i>
            </p>
            <p class="products-item">
              <a href="#!" class="text-reset product-link product-vue">Vue JS</a>
              <i class="fa-brands fa-vuejs"></i>
            </p>
            <p class="products-item">
              <a href="#!" class="text-reset product-link product-express-js">Express JS</a>
              <i class="fa-brands fa-node-js"></i>
            </p>
          </div>
  
          <div class="col-12 col-sm-7 col-md-5 col-lg-2 col-xl-2 mx-auto mb-4 order-md-3 order-lg-2 border-bottom">
            <h6 class="text-uppercase mb-4">
              Useful links
            </h6>
            <p class="products-item">
              <a href="#!" class="text-reset product-link product-services">Services</a>
              <i class="fa-solid fa-gears"></i>
            </p>
            <p class="products-item">
              <a href="#!" class="text-reset product-link product-supports">Supports</a>
              <i class="fa-solid fa-window-maximize"></i>
            </p>
            <p class="products-item">
              <a href="#!" class="text-reset product-link product-firebase">Firebase</a>
              <i class="fa-solid fa-database"></i>
            </p>
            <p class="products-item">
              <a href="#!" class="text-reset product-link product-help">Help</a>
              <i class="fa-solid fa-circle-info"></i>
            </p>
          </div>
  
          <div class="col-12 col-sm-7 col-md-5 col-lg-3 col-xl-3 col-xxl-2 mx-auto mb-md-4 mb-4 order-md-1 order-lg-3 border-bottom">
            <h6 class="text-uppercase mb-4"><i class="fa-solid fa-globe me-3"></i> Contact</h6>
            <p><i class="fas fa-home me-3"></i>Gabrovo, Ave 3, BG</p>
            <p><i class="fas fa-envelope me-3"></i> setty_ii@abv.bg</p>
            <p><i class="fas fa-phone me-3"></i> + 066 88 32 32</p>
            <p><i class="fa-solid fa-mobile-screen me-3"></i> + 0878 99 26 93</p>
          </div>
        </div>
      </div>
    </section>

    <div class="footer-logo-container">
      <img class="footer-angular-logo" src="../../../../assets/images/angularjs.png" />
      <img class="footer-firebase-logo" src="../../../../assets/images/firebase-icon.png" />
      <img class="footer-angular-logo" src="../../../../assets/images/bootstrap.png" />
    </div>
  
    <div class="text-center pb-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2022 Copyright: All Rights Reserved!
    </div>
</footer>

